
# Laravel
.env
.env.*
/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage/
/storage/*.key
/storage/pail

# PHPUnit / PHP Tools
.phpunit.cache
.phpunit.result.cache
.phpactor.json

# IDE/Editor
/.vscode/
/.idea/
/.zed/
/.fleet/
/.nova/

# OS/System
.DS_Store
Thumbs.db
*.log
npm-debug.log
yarn-error.log

# Homestead
Homestead.json
Homestead.yaml

# Auth / Secrets
/auth.json
